<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iok.spark"
    android:versionCode="10"
    android:versionName="1.9" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />
	<!--使用网络功能所需权限  -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
	</uses-permission>
	<uses-permission android:name="android.permission.INTERNET">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
	</uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE">
	</uses-permission>
	<!-- SDK离线地图和cache功能需要读写外部存储器 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
	</uses-permission>
	<!-- 获取设置信息和详情页直接拨打电话需要以下权限  -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE">
	</uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE">
	</uses-permission>
	<!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
	</uses-permission>
	<permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
	</permission>
	<uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_GPS"/>                  
    
	
	
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />   
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />   
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SENDTO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" 
        android:name="com.iokokok.app.Iokapplication"
        >
        <activity
            android:name=".Appstart"
            android:label="@string/title_activity_main"
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
    	</service>
        <activity
            android:name=".Viewpager"
            android:theme="@style/Anim_style2" >
        </activity>
        <activity
            android:name=".Viewdoor"
            android:theme="@style/Anim_style2" >
        </activity>
        <activity
            android:name="Main"
            android:theme="@style/Anim_style_title" >
        </activity>
        <activity
            android:name="Exit"
            android:theme="@style/MyDialogStyle" >
        </activity>
        
        <!--
        <activity
            android:name=".Appstart"
            android:label="@string/title_activity_main"
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".WhatsnewDoor"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".MainWeixin"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".Login"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".IokCamera"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".VideoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".AddFreindActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".FormFiles"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".EditUserNick"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".EditSparkActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".EditPassActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".EditSexActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".SinaWeiboActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name=".NewsContentActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name=".ShowImageActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name=".FriendInfoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name=".ShowVideoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name=".SearchListActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name=".BaiduMapActivity"
            android:screenOrientation="sensor"  
          	android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name=".FriendBaiduMapActivity"
            android:screenOrientation="sensor"  
          	android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name=".BaiduRouteLine"
            android:screenOrientation="sensor"  
          	android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".UserListActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
         <activity
            android:name=".Register"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Welcome"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".Whatsnew"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".ChatActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ShakeActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".InfoXiaohei"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="ExitFromSettings"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="EditHeadSel"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="SendPicSelectActivity"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="AddFriendDialog"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="InfoXiaoheiHead"
            android:theme="@style/HeadScale" />
        <activity
            android:name="LoadingActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="MainTopRightDialog"
            android:theme="@style/MyDialogStyleTop" />
    </application>

</manifest>